<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <h1 class="heading" style="align-content: center;">Edit</h1>
  
    <div class="formstyle">  
         <% for(let data of datas){ %> 
    <form action="/listing/<%=data._id%>/edit?_method=PATCH" method="post" class="editbtn needs-validation" novalidate>
        <label for="title" class="form-label row mb-3" >Title</label>
        <input type="text" placeholder="enter title" name="listing[title]" class="form-control mb-3" value="<%=data.title%>"required>
        <div class="invalid-feedback">Please choose valid Title.</div>
        
        <label for="description" class="form-label row mb-3" >Description</label>
        <textarea  name="listing[description]" cols="30" class="form-control mb-3"required><%=data.description%></textarea>
         <div class="invalid-feedback">Please choose description.</div>
        
        <label for="image" class="form-label row mb-3">Image</label>
        <input type="text" placeholder="enter url" name="listing[image][url]"class="form-control mb-3" value="<%=data.image.url%>" >
        
        <div class="row mb-3">
             <div class="col-md-6">
                <label for="price" class="form-label" >Price</label>
                <input  class="form-control mb-3" placeholder="Enter price" name="listing[price]" value="<%=data.price%>" required>
                 <div class="invalid-feedback">Please choose valid price.</div>
            </div>
            <div class="col-md-6">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control mb-3" placeholder="Enter location" name="listing[location]" value="<%=data.location%>" required> 
                 <div class="invalid-feedback">Please choose Location.</div>
            </div>
        </div>
       <label for="country"class="mb-2 form-label" >Country</label>
            <input type="text" placeholder="enter country" name="listing[country]" class="form-control mb-3" value="<%=data.country%>" required><br>
          <div class="invalid-feedback">Please choose country.</div>
            <button >Submit</button>
    </form>
    </div>
 
   <%} %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/validation.js"></script> 
  </body>
</html>